/* Based on a Firefox theme from github that is unknown to me at the moment */

#main-window
{
    background: rgba(23, 23, 23, 0.38) !important;
}

#urlbar-background {
  border: 0 !important;
  background-color: rgba(64, 64, 64, 0.5) !important;
  /*border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-box-shadow-color) !important;*/
}

.tab-background {
  background-color: rgba(52, 52, 52, 0.38) !important;
}

.tab-background[selected] {
  background-color: rgba(64, 64, 64, 0.5) !important;
  border-bottom: 3px solid rgb(240, 198, 116) !important;
}

#TabsToolbar:-moz-lwtheme-darktext,
.table-widget-empty-text:-moz-lwtheme-darktext
{
    -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
 }

#TabsToolbar:-moz-lwtheme-brighttext,
.table-widget-empty-text:-moz-lwtheme-brighttext
{
    -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
 }

.tabbrowser-tab[selected="true"] .tab-label:-moz-lwtheme-brighttext
{
    color:white !important;
}

.tabbrowser-tab .tab-label:-moz-lwtheme-brighttext
{
    color:rgba(64,64,64,0.38) !important;
}

.tabbrowser-tab[selected="true"] .tab-background:-moz-lwtheme-brighttext
{
    box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important;
}

#navigator-toolbox {
    background-color: transparent !important;
}

@-moz-document url("about:home"),
url("about:newtab") {

  body {
    --newtab-background-color: rgba(64, 64, 64, 0.5) !important;
    background-size: cover !important;
  }
}
